

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title>{{ setting.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta content="{{ setting.description }}" name="description" />
      <link href="{{template}}/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{template}}/css/bootstrap-social.css" rel="stylesheet">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href="{{template}}/css/styles.css" rel="stylesheet">
      <link href="{{template}}/css/chosen.min.css" rel="stylesheet" type="text/css" />
      <link href="{{template}}/css/featherlight.css" rel="stylesheet" type="text/css" />
      <link href="{{template}}/css/featherlight.gallery.css" rel="stylesheet" type="text/css" />
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>     
      <script src="{{template}}/js/bootstrap.min.js"></script>
      <script src="{{template}}/js/jquery.number.min.js" type="text/javascript"></script>    
      <script src="{{template}}/js/chosen.jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript">
         $(window).load(function(){
             $(".chosen-select").chosen()
         }); 
      </script>
      <style type="text/css">
         html,body{
         height: 100%;
         }
         .container {
         min-height: 90%;
         }
         .navar-default, .navbar, .navbar-fixed-top {
            background-color: #990033 !important;
         }
         .navbar-nav li a {
            color: #fff !important;
         }
         ul.dropdown-menu li a {
            color: #000 !important;
         }
         .navbar-header a {
            color: #fff !important;
         }
      </style>
   </head>
   <body>
      <!--template-->
      <div class="navbar navbar-default navbar-fixed-top">
         <div class="container" style="">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="{{ root }}">{{ setting.title }}</a>
            </div>
            <div class="collapse navbar-collapse" style="">
               <ul class="nav navbar-nav">
                  <li><a href="{{root}}product">All</a></li>
                  {% if categories %}
                  <li>
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                     <ul class="dropdown-menu multi-level">
                        {% for category in categories %}
                        {% if category.childs %}
                        <li class="dropdown-submenu">
                           <a href="{{root}}category/{{ category.slug }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.nama_kategori }}</a>
                           <ul class="dropdown-menu">
                              {% for child in category.childs %}
                              <li><a href="{{root}}category/{{ child.slug }}">{{ child.nama_kategori }}</a></li>
                              {% endfor %}
                           </ul>
                        </li>
                        {% else %}
                        <li><a href="{{root}}category/{{ category.slug }}">{{ category.nama_kategori }}</a></li>
                        {% endif %}
                        {% endfor %}
                     </ul>
                  </li>
                  {% endif %}            
               </ul>
               <form class="navbar-form navbar-left" role="search" action="{{ root }}product" method="get">
                  <div class="form-group">
                     <input name="search" class="form-control" placeholder="Search" type="text">
                  </div>
               </form>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{root}}cart">Your Cart {{ cartItems }} item(s) (Rp. {{ cartTotal|number_format(0, ',', '.') }})</a></li>
                  <li><a href="{{root}}checkout">Checkout</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="col-md-12">
            <div class="center-block text-center">
               <h1>{{title}}</h1>
            </div>
            {% if homePage %}
            <!-- HOME -->
            <div class="center-block text-center">
               <p class="lead">{{ setting.description }}</p>
            </div>
            {% if produk %}
            <div class="container">
               <div class="menu row">
                  <div class="col-sm-12 col-md-12 col-xs-12">
                     <div class="productsrow">
                        <!-- LOOPING PRODUK -->
                        {% for prod in produk %}
                        <a href="{{root}}product/{{ prod.slug }}">
                           <div class="product menu-category">
                        <a href="{{root}}product/{{ prod.slug }}" class="list-group-item">{{ prod.nama_kategori }}</a>
                        <div class="product-image">
                        <a href="{{root}}product/{{ prod.slug }}">
                        <img class="product-image menu-item list-group-item" src="{{ prod.thumbnail }}">
                        </a>
                        </div>
                        <ul class="list-group">
                        <li class="list-group-item clearfix">
                        <span class="badge"> Rp. {{ prod.harga|number_format(0, ',', '.') }},-</span>
                        <a href="{{root}}product/{{ prod.slug }}">{{ prod.nama_produk }}</a>
                        </li>
                        </ul>
                        </div>
                        </a>
                        {% endfor %}
                        <!-- END LOOPING PRODUK -->
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endif %}
            <!-- END HOME -->
            <!-- STATIC PAGE -->
            {% if staticPage %}
            <div class="content col-sm-12">
               <h1>{{ staticPageTitle }}</h1>
               {{ staticPageContent|raw }}
            </div>
            {% endif %}
            <!-- END STATIC PAGE -->
            <!-- DETAIL PRODUK -->
            {% if detailProduk %}
            <div class="center-block">
               <div class="menu row">
                  <div class="product col-sm-6">
                     <div class="row">
                        <div class="col-md-12" style="margin-bottom: 10px;">
                           <a class="gallery" href="{{ product.gambar.0 }}">
                           <img class="img-responsive img-thumbnail" src="{{ product.gambar.0 }}">
                           </a>
                        </div>
                     </div>
                     <div class="row">
                        {% for img in product.gambar %}
                        {% if img != product.gambar.0 %}
                        <div class="col-xs-4 col-md-4">
                           <a href="{{ img }}" class="thumbnail gallery">
                           <img src="{{ img }}">
                           </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                     </div>
                  </div>
                  <div class="col-sm-6">
                     {{ product.deskripsi|raw }}
                     <hr>
                     <h2 class="text-right">Harga : {{ product.harga|number_format(0, ',', '.') }}</h2>
                     <form method="post" class="form-horizontal" action="{{ root }}cart">
                        <input name="id" value="{{ product.id_produk }}" type="hidden">
                        <div class="form-group">
                           <label for="quantity" class="col-sm-2 control-label">Qty:</label>
                           <div class="col-sm-2">
                              <input class="form-control" value="1" name="quantity" type="text">
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary">Add to cart</button>
                           </div>
                        </div>
                     </form>
                     <hr>
                     <div class="row">
                        <div class="col-sm-12" id="details">
                           <h4>Product Informartion</h4>
                           <address>
                              <strong>Product Code:</strong> <span>{{ product.id_produk }}</span><br>
                              <strong>Availability:</strong> <span>{{ product.stok }}</span><br>
                              <strong>Weight:</strong> <span>{{ product.berat }} grams</span><br>
                           </address>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            <!-- DETAIL PRODUK -->
            <!-- LIST ALL PRODUK -->
            {% if listProduk %}
            <div class="container">
               <div class="menu row">
                  <div class="col-sm-12 col-md-12 col-xs-12">
                     <div class="productsrow">
                        <!-- LOOPING PRODUK -->
                        {% for prod in products %}
                        <a href="{{ root }}product/{{ prod.slug }}">
                           <div class="product menu-category">
                        <a href="{{ root }}product/{{ prod.slug }}" class="list-group-item">{{ prod.nama_kategori }}</a>
                        <div class="product-image">
                        <a href="{{ root }}product/{{ prod.slug }}">
                        <img class="product-image menu-item list-group-item" src="{{ prod.thumbnail }}">
                        </a>
                        </div>
                        <ul class="list-group">
                        <li class="list-group-item clearfix">
                        <span class="badge"> Rp. {{ prod.harga|number_format(0, ',', '.') }},-</span>
                        <a href="{{ root }}product/{{ prod.slug }}">{{ prod.nama_produk }}</a>
                        </li>
                        </ul>
                        </div>
                        </a>
                        {% endfor %}
                        <!-- END LOOPING PRODUK -->
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            <!-- END LIST ALL PRODUK -->


    {% if forgotPassword %}
      <!-- HALAMAN FORGOT PASSWORD -->

      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xs-12">

              {% if forgotPasswordSuccess %}
                <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">Ã—</button>
                  <h4>Alert!</h4><strong>Status Berhasil!</strong> password berhasil dikirim ke email anda. Silahkan cek email anda!
                </div>
              {% else %}
        
               <form method="POST" action="{{ root }}forgot" class="form-horizontal" role="form">
                  <div class="col-md-3 forgotPassword">
                    <p><strong>Masukan email anda</strong> <input name="email" class="form-control" placeholder="Masukan email anda disini..." id="forgotPassword" type="email" /></p>
                    <p><button type="submit" class="btn btn-default">
                        Kirim Password!
                    </button></p>
                  </div>
               </form>

            </div>
         </div>
      </div>

    {% endif %}

    {% endif %}            
            <!-- CHECKOUT -->
            {% if checkout %}
            <div class="container">
               <ol class="breadcrumb">
                  <li><a href="{{ root }}checkout">Sign in</a></li>
                  <li class="active">Shipping & Payment</li>
                  <li class="active">Order</li>
               </ol>
               <div class="row">
                  <div class="col-lg-8">
                     <h2>Order summary</h2>
                     <p>Berikut adalah pesanan anda. <a href="{{ root }}cart">Klik disini</a> untuk mengedit pesanan anda.</p>
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>Product</th>
                                 <th>Quantity</th>
                                 <th>Item price</th>
                                 <th>Amount</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for cart in ShoppingCart %}
                              <tr>
                                 <td>{{ cart.name }}</td>
                                 <td>{{ cart.quantity }}</td>
                                 <td>Rp. {{ cart.price|number_format(0, ',', '.') }}</td>
                                 <td>Rp. {{ cart.subtotal|number_format(0, ',', '.') }}</td>
                              </tr>
                              {% endfor %}
                              <tr class="success">
                                 <td colspan="3"><strong>Order total</strong></td>
                                 <td>Rp {{ cartTotal|number_format(0, ',', '.') }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="col-lg-3 col-lg-offset-1">
                     <a type="button" href="{{ root }}checkout/shipping" class="btn btn-primary btn-block">Buat Akun</a>
                     <h5>or <strong>Login:</strong></h5>
                     <form role="form" method="post" action="{{ root }}checkout/login">
                        <div class="form-group">
                           <input name="email" class="form-control" id="email" placeholder="Enter email" autofocus="" type="email">
                        </div>
                        <div class="form-group">
                           <input name="password" class="form-control" id="inPassword" placeholder="Password" type="password">
                        </div>
                        <p style="color: red;">{{ errorLogin ? errorLogin : '' }}</p>
                        <button value="signin" type="submit" class="btn btn-primary">Sign in</button>
                     </form>
                     <br>
                     <br>
                     <p><a href="{{ root }}forgot">Forgot account?</a></p>
                  </div>
               </div>
            </div>
            {% endif %}
            <!-- END CHECKOUT -->
            <!-- SHIPPING MEMBER -->
            {% if shippingMember %}
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a href="{{ root }}checkout">Sign in</a></li>
                     <li><strong>Shipping Member</strong></li>
                     <li>Order</li>
                  </ol>
                  <div class="col-md-6 col-xs-6">
                     <form method="POST" action="{{ root }}checkout/orderMember" id="formShipping">
                        <input value="{{ customer.id }}" name="id" type="hidden" />
                        <input value="{{ customer.city_id }}" name="idcity" type="hidden" />
                        <input value="{{ customer.province_id }}" name="idprovince" type="hidden" />
                        <div class="form-group jumbotron">
                           <p>Data Anda sebelum nya, sebagai berikut:</p>
                           <p>Provinsi: <strong>{{ customer.province }}</strong>, <strong>{{ customer.type }} {{ customer.city_name }}</strong>, Postal Code: <strong>{{ customer.postal_code }}</strong></p>
                        </div>
                        <div class="form-group">
                           <label for="address" class="control-label">Alamat (Wajib diisi)</label>
                           <input class="form-control" name="address" id="address" placeholder="Masukan alamat lengkap anda" type="text" value="{{ address }}" required>
                        </div>
                        <div id="editProvinceForm">
                           <div class="form-group col-md-6">
                              <label class="control-label" for="province">Province</label>
                              <div class="controls text-left">
                                 <select id="provinceMember" class="form-control chosen-select" name="provinceEdit">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kota">Kota / Kabupaten</label>
                              <div class="controls text-left">
                                 <select id="cityMember" class="form-control chosen-select" name="cityEdit">
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <p><strong>Silahkan pilih jasa pengiriman</strong></p>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kecamatan">Jasa Pengiriman</label>
                              <div class="controls text-left">
                                 <select id="carrierMember" class="form-control chosen-select" name="carrierMember">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kecamatan">Jenis Pengiriman</label>
                              <div class="controls text-left">
                                 <select id="jenisPengirimanMember" class="form-control chosen-select" name="jenisPengirimanMember">
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="form-group hargaPengiriman">
                           <label class="control-label" for="harga">Harga Pengiriman</label>
                           <input class="form-control" id="hargaMember" name="hargaMember" type="text" disabled/>
                        </div>
                        <p><button type="submit" class="btn btn-primary">Proses dengan data ini</button></p>
                     </form>
                  </div>
               </div>
            </div>
            {% endif %}
            <!-- END SHIPPING MEMBER -->
            <!-- SHIPPING NEW MEMBER -->
            {% if shipping %}
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a href="{{ root }}checkout">Sign in</a></li>
                     <li class="active">Shipping & Payment</li>
                     <li>Order</li>
                  </ol>
                  <div class="col-md-6 col-xs-6">
                     <form method="POST" action="{{ root }}checkout/order" id="formShipping">
                        <fieldset>
                           <legend>CHECKOUT</legend>
                           <div class="form-group">
                              <label for="first_name" class="control-label">Nama Lengkap (Wajib diisi)</label>
                              <input class="form-control" name="name" id="first_name" placeholder="First Name" type="text" required>
                           </div>
                           <div class="form-group">
                              <label for="company_name" class="control-label">Nama Perusahaan</label>
                              <input class="form-control" name="company_name" id="company_name" placeholder="Masukan nama perusahaan" type="text">
                           </div>
                           <div class="form-group">
                              <label for="address" class="control-label">Alamat (Wajib diisi)</label>
                              <input class="form-control" name="address" id="address" placeholder="Masukan alamat lengkap anda" type="text" required>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="province">Province</label>
                              <div class="controls text-left">
                                 <select id="province" class="form-control chosen-select" name="province">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kota">Kota / Kabupaten</label>
                              <div class="controls text-left">
                                 <select id="city" class="form-control chosen-select" name="city">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kecamatan">Jasa Pengiriman</label>
                              <div class="controls text-left">
                                 <select id="carrier" class="form-control chosen-select" name="carrier">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group col-md-6">
                              <label class="control-label" for="kecamatan">Jenis Pengiriman</label>
                              <div class="controls text-left">
                                 <select id="jenisPengiriman" class="form-control chosen-select" name="jenisPengiriman">
                                 </select>
                              </div>
                           </div>
                           <div class="form-group hargaPengiriman">
                              <label class="control-label" for="harga">Harga Pengiriman</label>
                              <input class="form-control" id="harga" name="harga" type="text" disabled/>
                           </div>
                           <div class="form-group">
                              <label for="email" class="control-label">Email</label>
                              <input name="email" class="form-control" id="email" placeholder="Masukan alamat email anda" type="email" required/>
                           </div>
                           <div class="form-group">
                              <label for="phone" class="control-label">Phone</label>
                              <input name="phone" class="form-control" id="phone" placeholder="" type="number" required/>
                           </div>
                           <div class="form-group">
                              <div class="text-right">
                                 <button type="button" id="btnCreateAccount" name="singlebutton" class="btn btn-sm btn-primary" aria-label="Single Button">Buat akun?</button>
                                 <p class="help-block"></p>
                              </div>
                           </div>
                           <div style="display: none;" id="createAccount" class="form-group">
                              <label for="email" class="control-label">Password</label>
                              <input name="password" class="form-control" id="password" placeholder="" type="password">
                              <p class="help-block">Silahkan masukan password anda</p>
                           </div>
                           <div class="form-group">
                              <div class="text-right">
                                 <div id="button1idGroup" class="btn-group" role="group" aria-label="Button Group">
                                    <button type="submit" id="place_order" name="place_order" class="btn btn-lg btn-success" aria-label="Left Button"></button>
                                 </div>
                                 <p class="help-block"></p>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
            {% endif %}
            <!-- END SHIPPING NEW MEMBER -->
            <!-- PAGE ORDER -->
            {% if order %}
            <div class="invoice-box">
               <table cellpadding="0" cellspacing="0">
                  <tr class="top">
                     <td>
                        <table>
                           <tr>
                              <td>
                                 Invoice #: {{ invoice_id }}<br>
                                 Created: {{ created_date }}<br>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr class="heading">
                     <td>Item</td>
                     <td>Price</td>
                  </tr>
                  {% for key, cart in ShoppingCart %}
                  <tr class="item">
                     <td>{{ cart.name }}, quantity: {{ cart.quantity }}</td>
                     <td>Rp. {{ (cart.price * cart.quantity) | number_format(0, ',', '.') }}</td>
                  </tr>
                  {% endfor %}
                  <tr class="item">
                     <td>{{ jenisPengiriman }}</td>
                     <td>Rp. {{ hargaPengiriman | number_format(0, ',', '.') }}</td>
                  </tr>
                  <tr class="total">
                     <td></td>
                     <td>
                        Total: Rp. {{ (total_harga + hargaPengiriman) | number_format(0, ',', '.') }},-
                     </td>
                  </tr>
                  <tr class="item">
                     <td colspan="2">
                        Ini adalah invoice dan daftar pesanan anda. Silahkan konfirmasi pesanan anda jika anda sudah melakukan pembayaran.
                     </td>
                  </tr>
                  <tr class="item">
                     <td colspan="2">
                        <p>Pembayaran Melalui transfer bank yang tertera dibawah:</p>
                        {% for bank in banks %}
                        <p><strong>{{ bank.nama_bank }}</strong>
                           <br /><strong>No. Rek: {{ bank.no_rekening }}</strong>
                           <br /><strong>a.n: {{ bank.pemilik }}</strong>
                        </p>
                        {% endfor %}
                     </td>
                  </tr>
               </table>
            </div>
            {% endif%}
            <!-- END PAGE ORDER / INVOICE -->
            <!-- CART -->
            {% if detailCart %}
            <!-- KERANJANG BELANJA -->
            {% if emptyCart %}
            <div class="center-block text-center">
               <h3>You dont have any cart</h3>
            </div>
            {% else %}
            <div class="row">
               <div class="col-md-12">
                  <div class="container">
                     <div class="menu row">
                        <div class="col-xs-12">
                           <div class="panel panel-default">
                              <form action="{{ root }}cart" method="post">
                                 <div class="panel-heading">
                                    <div class="panel-title">
                                       <div class="row">
                                          <div class="col-xs-8 col-md-9">
                                             <h4><i class="fa fa-shopping-cart"></i> Shopping Cart</h4>
                                          </div>
                                          <div class="col-xs-4 col-md-3 text-right">
                                             <a href="{{ root }}product" class="btn btn-default btn-continue" role="button"><i class="fa fa-arrow-left"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                    <hr>
                                 </div>
                                 <div class="panel-body">
                                    {% for key, cart in ShoppingCart %}
                                    <div class="row">
                                       <div class="hidden-xs col-sm-1">
                                          <a href="{{ root }}{{ cart.id }}" class="thumbnail"><img alt="" src="{{ cart.image }}"></a>
                                       </div>
                                       <div class="col-xs-7 col-sm-6">
                                          <h4>{{ cart.name }}<br>
                                             <small>Product code: {{ cart.id }}</small>
                                          </h4>
                                       </div>
                                       <div class="hidden-xs col-xs-2 col-sm-2">
                                          <p class="product-price">Rp. {{ cart.subtotal|number_format(0, ',', '.') }} <span class="text-muted">x</span></p>
                                       </div>
                                       <div class="col-xs-5 col-sm-3">
                                          <div class="row">
                                             <div class="col-xs-5">
                                                <input name="quantity[{{key}}]" class="form-control input-sm" value="{{ cart.quantity }}" type="text">
                                             </div>
                                             <div class="col-xs-7">
                                                <input name="remove" value="{{key}}" disabled="disabled" type="hidden">
                                                <button type="submit" class="btn btn-default btn-remove pull-right">
                                                <span class="fa fa-trash"></span>
                                                </button>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <hr class="liner">
                                    {% endfor %}                                  
                                 </div>
                                 <div class="panel-footer">
                                    <div class="col-xs-3 col-md-9">
                                       <h4>Total <strong>Rp. {{ cartTotal | number_format(0, ',', '.') }},-</strong></h4>
                                    </div>
                                    <div class="col-xs-9 col-md-3">
                                       <a href="{{ root }}checkout" class="btn btn-primary" role="button">Checkout</a>
                                       <button type="submit" class="btn btn-success">Update cart</button>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endif %}
            <!-- END CART -->
            <!-- KERANJANG BELANJA -->     
            {% if pageLinks %}
            <footer>
               <ul class="pagination">
                  {% for page in pageLinks %}
                  <li>{{ page | raw }}</li>
                  {% endfor %}
               </ul>
            </footer>
            {% endif %}
         </div>
      </div>
      <footer class="footer">
         <div class="container">
            <p class="text-muted">
               {% for page in page %}
               <a href="{{ root }}page/{{ page.slug }}">{{ page.title }}</a> | 
               {% endfor %}
            </p>
         </div>
      </footer>
      <!--/template-->
      <script src="{{template}}/js/featherlight.js" type="text/javascript"></script>
      <script src="{{template}}/js/featherlight.gallery.js" type="text/javascript"></script>
      <script type="text/javascript">
         $(document).ready(function(){
           $('.gallery').featherlightGallery({
             gallery: {
               fadeIn: 300,
               fadeOut: 300
             },
             openSpeed:    300,
             closeSpeed:   300
           });
         });      
         
            $(function() {
            
              $('#place_order').append('<strong>Checkout tanpa mendaftar</strong>');
            
              $('#province').append('<option id="loadingProvince" value="0">Loading Province...</option>');
              $('#provinceMember').append('<option id="loadingProvinceMember" value="0">Loading Province...</option>');
            
              $.post('{{ root }}checkout/getprovince', function(data, textStatus, xhr) {
            
                if(textStatus == 'success') {
                  $('#loadingProvince').remove();
                  $('#loadingProvinceMember').remove();
                  $('#province').append('<option value="0">--Select Province--</option>');
                  $('#provinceMember').append('<option value="0">--Select Province--</option>');
                  $.each(data.rajaongkir.results, function(i, item) {
                     $('#province').append('<option value="'+ item.province_id +'">'+item.province+'</option>');
                     $('#provinceMember').append('<option value="'+ item.province_id +'">'+item.province+'</option>');
                  });
                }
            
                $('#province').trigger("chosen:updated");
                $('#provinceMember').trigger("chosen:updated");
            
              });
            
              $('#province').on('change', function() {
            
                $('#city').empty();
                
                var idprovince = this.value;          
                
                $('#city').append('<option id="loadingCity" value="0">Loading City...</option>');
            
                $.post('{{ root }}checkout/getcity', {id_province: idprovince}, function(data, textStatus, xhr) {
            
                  if(textStatus == 'success') {
                    $('#loadingCity').remove();
                    $('#city').append('<option value="0">--Select City--</option>');
                    $.each(data.rajaongkir.results, function(i, item) {
                      $('#city').append('<option value="'+ item.city_id +'">'+item.type+' '+item.city_name+'</option>');
                    });
                  }
            
                  $('#city').trigger("chosen:updated");
            
                });
            
              });
            
              $('#city').on('change', function(){
         
                $('#carrier').empty();
            
                $('#carrier').append('<option value="0">--Pilih Kurir--</option><option value="tiki">TIKI</option><option value="jne">JNE</option><option value="pos">POS INDONESIA</option>');
            
                $('#carrier').trigger("chosen:updated");        
            
              });
            
              $('#cityMember').on('change', function(){
                
                $('#carrier').empty();
                
                $('#carrierMember').append('<option value="0">--Pilih Kurir--</option><option value="tiki">TIKI</option><option value="jne">JNE</option><option value="pos">POS INDONESIA</option>');
            
                $('#carrierMember').trigger("chosen:updated");        
            
              });
            
              $('#carrier').on('change', function() {
            
                $('#harga').empty();
            
                var idprovince  = $('#province').val();
                var idcity      = $('#city').val();
                var kurir       = this.value;
            
                $.post('{{ root }}checkout/getcost', {idprovince: idprovince, idcity: idcity, kurir: kurir}, function(data, textStatus, xhr) {
                  $('#jenisPengiriman').empty();
                  if(textStatus == 'success') {
                    $('#jenisPengiriman').append('<option value="0">--Pilih Pengiriman--</option>');
                    $.each(data.rajaongkir.results[0].costs, function(i, item) {
                      console.log(item);
                      $('#jenisPengiriman').append('<option value="'+item.service+' ('+item.description+') Estimasi '+item.cost[0].etd+' hari, Rp. '+$.number(item.cost[0].value, 0, ',')+'">Service: '+item.service+' ('+item.description+') Estimasi '+item.cost[0].etd+' hari, Rp. '+$.number(item.cost[0].value, 0, ',')+'</option>');
                    });              
                  }
            
                  $('#jenisPengiriman').trigger("chosen:updated");
            
                });
            
              });        
            
              $('#editProvince').on('click', function() {
                if(confirm('Apakah anda yakin ingin merubah kota dan provinsi?'))
                {
                  $('#editProvinceForm').css('visibility', 'visible');           
                }
              });
            
              $('#provinceMember').on('change', function() {
            
                $('#cityMember').empty();
                
                var idprovinceMember = this.value;          
                
                $('#cityMember').append('<option id="loadingCity" value="0">Loading City...</option>');
            
                $.post('{{ root }}checkout/getcity', {id_province: idprovinceMember}, function(data, textStatus, xhr) {
            
                  if(textStatus == 'success') {
                    $('#loadingCity').remove();
                    $('#cityMember').append('<option value="0">--Select City--</option>');
                    $.each(data.rajaongkir.results, function(i, item) {
                      $('#cityMember').append('<option value="'+ item.city_id +'">'+item.type+' '+item.city_name+'</option>');
                    });
                  }
            
                  $('#cityMember').trigger("chosen:updated");
            
                });
            
              });        
            
              $('#carrierMember').on('change', function() {
            
                $('#harga').empty();
            
                var idprovince  = $('#provinceMember').val();
                var idcity      = $('#cityMember').val();
                var kurir       = this.value;          
            
                $.post('{{ root }}checkout/getcost', {idprovince: idprovince, idcity: idcity, kurir: kurir}, function(data, textStatus, xhr) {
            
                  $('#jenisPengirimanMember').empty();
                  
                  if(textStatus == 'success') {
            
                    $('#jenisPengirimanMember').append('<option value="0">--Pilih Pengiriman--</option>');
                    $.each(data.rajaongkir.results[0].costs, function(i, item) {
            
                      $('#jenisPengirimanMember').append('<option value="'+item.service+' ('+item.description+') Estimasi '+item.cost[0].etd+' hari, Rp. '+$.number(item.cost[0].value, 0, ',')+'">Service: '+item.service+' ('+item.description+') Estimasi '+item.cost[0].etd+' hari, Rp. '+$.number(item.cost[0].value, 0, ',')+'</option>');
                    });
                  
                  }
            
                  $('#jenisPengirimanMember').trigger("chosen:updated");
            
                });               
              
              });
            
              $('#jenisPengirimanMember').on('change', function() {
                var harga = this.value;
                $('#hargaMember').val(harga);
              });
            
              $('#jenisPengiriman').on('change', function() {
            
                var harga = this.value;
                $('#harga').val(harga);
              
              });
            
              $('#btnCreateAccount').click(function() {
                  $('#createAccount').show('slow', function() {
                    $('#btnCreateAccount').hide('slow', function() {
                    });;
                  });
                  $('#place_order').empty();
                  $('#place_order').append('<strong>Checkout</strong>');
              });
            
              $('.btn-remove').click(function() {
                  if (confirm('Remove this item from your cart?')) {
                      $(this).prev('input[type="hidden"]').removeAttr('disabled');
                      return true;
                  }
                  return false;
              });
            });      
      </script>      
   </body>
</html>

