/*
E Commerce Bootstrap Template
@link http://bootstrapzero.com/bootstrap-template/e-commerce
License: MIT
Author: Bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    padding-top: 70px;
    background: #f6f6f6!important;
}

.navbar-default {
    background: #fff;
    border-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0!important;
    width: 100%!important;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.navbar-default .navbar-nav > li > a {
    color: #7f7f7f;
}

.navbar-toggle {
    background: #e7ebee;
}

.productsrow {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.menu-category {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding: 1rem;
    width: 100%;
}

.product-image {
    width: 100%;
    margin-bottom: -1px;
}

.product {
    padding-top: 22px;
}

.btn-product {
    background-color: #222;
    color: #eee;
    border-radius: 0;
}

.yellow {
    color: yellow;
    text-shadow: #ccc 1px 1px 0;
}

.list-group-item:first-child {
    border-radius: 0 !important;
}

.list-group-item:last-child {
    border-radius: 0 !important;
}


/**
 *
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

footer {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

footer p:last-child {
    margin-bottom: 0;
}

#formShipping {
    background-color: #fff;
    padding: 20px;
    border-top: 10px solid #EBF8A4;
}

#createAccount {
    background-color: #EBF8A4;
    padding: 10px;
    border-radius: 10px;
}

.hargaPengiriman input {
    border: 3px solid #DDD;
    font-weight: bold;
    font-style: italic;
}

.invoice-box {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    margin-bottom: 3em;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

.footer a {
    color: #fff;
}

.content {
    min-height: 500px !important;
}

/* end custom CSS */
