body {
    background-color: #06425C;
    font-family: 'helvetica' !important;
}

/*custom responsive*/
.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

table#listPeserta, table#listPeserta thead th, table#listPeserta tr td {
    border: 1px solid #CCC;
    padding: 0.2em 1.2em;
    font-size: 0.9em;
}

table#listPeserta thead th {
    background-color: #242424;
    color: #fff;
}

table#listPeserta tr td {
    background-color: #fff;
    text-align: center;
    /*cursor: pointer;*/
}

table#listPeserta tbody tr:hover {
    background-color: #CCC !important;
}

h1.logo{
    background-image: url('../img/banner.jpg');
    border-bottom:none;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    text-align:center;
}

div#konten {
    background-image: url('../img/form.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}
/*custom responsive*/
.contentLogin {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;    
}

div#listKategori {
    -webkit-box-shadow: inset 2px 15px 34px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 15px 34px -21px rgba(0,0,0,0.75);
    box-shadow: inset 2px 15px 34px -21px rgba(0,0,0,0.75);    
}

ul.list li {
    padding: 0.5em;
    background-color: #CDBB79;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    list-style: none !important;
    font-weight: bold;
    cursor: pointer;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

ul.list li:hover {
    background-color: #C2C2C2;
}

.konten {
    margin: 2em auto;
    background-color: #EAEAEA;
    width: 960px;
-webkit-box-shadow: 9px 18px 9px -9px rgba(0,0,0,1);
-moz-box-shadow: 9px 18px 9px -9px rgba(0,0,0,1);
box-shadow: 9px 18px 9px -9px rgba(0,0,0,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

table.show {
    font-size: 0.6em;
}

.konten input, .konten select {
    border: 2px solid #000 !important;
}

.konten {
    overflow: auto;
    border: 5px solid #000;
    padding: 1em 1em 2em 1em;
    background-color: #F2F2F2;
}

div.kiri {
    height: 400px;
    float: left;
    width: 45%;
    border-right: 1px solid #000;
}

div.kiri legend {
    font-size: 1.2em;
}

.kanan {
    height: 400px;
    overflow: auto;
    float: right;
    width: 50%;
}

.kanan h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 0.7em;
    font-size: 1.3em;
}

span.statusAktif {
    font-weight: bold;
    font-style: italic;
    font-size: 0.7em;
    margin-left: 0.8em;
}

span.aktif {
    color: green;
}

span.tdkAktif {
    color: #CA3C3C;
}

#listKategori ul li a {
    color: #000;
    text-decoration: none;
    font-size: 0.8em;
}

#listKategori ul li a:hover {
    text-decoration: underline;
}

#listKategori ul li {
    list-style-type:square;
    margin-top: 0.2em;
    border-left: 5px solid #06425C;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}