@charset "UTF-8";

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/*  #progressBar {
    background-color: #3E6FAD;
    width: 0px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: .25s ease-out;
    -webkit-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
  }*/

.imgP {
  border: 1px solid #CCC;
  display: block;
  float: left;
  margin-left: 1em;
  max-width: 100%;
}

.hapusImage {
  color: red;
  font-weight: bold;
  width: 100%;
  background-color: #CCC;
  cursor: pointer;
  text-align: right;
}