body {
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.well.sidebar-nav {
    border: 0;
    padding: 20px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    left: 0;
    bottom: 0;
    top: 42px;
    background: none;
    height: 100%;
}

.well.sidebar-nav>form {
    padding-right: 8px;
}

.main-content {
    padding-top: 20px;
}

@media (min-width: 768px) {
    .main-content {
        border-left: 1px solid #e3e3e3;
        margin-left: 0!important;
        padding-left: 20px!important;
        min-height: 400px;
    }
}

@media (max-width: 768px) {
    .nav-list>li>a,
    .nav-list .nav-header {
        margin-left: -8px;
    }
    .well.sidebar-nav>form {
        padding-right: 0;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0!important;
    }
}

.nav-list {
    padding-left: 0;
}

.nav-list>li>a {
    padding-left: 39px;
}

.nav-list>li.nav-header>a {
    padding-left: 15px;
    margin-bottom: -5px;
}

.nav-list>.active>a,
.nav-list>.active>a:hover {
    color: #005580;
    text-decoration: none;
    background-color: #eeeeee;
    text-shadow: none;
}

.nav-header {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    text-shadow: none;
}

.nav-list li>a {
    color: #333333;
}

.nav-header>a>i {
    font-size: 1em;
}

.chzn-container .chzn-drop {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.chzn-container.chzn-container-single .chzn-search input {
    background: none;
}

.chzn-container.chzn-container-single .chzn-single {
    background: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.chzn-container.chzn-container-single .chzn-single div b {
    background-position-y: 2px;
}

.chzn-container.chzn-container-multi .chzn-choices {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #fff;
}

.chzn-container.chzn-container-multi .chzn-choices .search-choice {
    background: #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

* {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.thumbnails>li {
    margin-left: 0!important;
    margin-right: 10px!important;
}

.navbar-inner {
    background-color: inherit!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
}

.btn-info {
    color: #ffffff;
    background-color: #49afcd;
    background-image: none!important;
    border-color: #46b8da;
    background-repeat: inherit!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    filter: none!important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #49afcd;
    background-image: none!important;
    background-repeat: inherit!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    filter: none!important;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 45%;
    }
}

.inventory>.control-group,
.form-inline.option {
    margin-bottom: 10px;
}

.inventory>.control-group>.control-label {
    width: 100px;
    text-align: left;
}

.inventory>.control-group>.controls {
    margin-left: 110px;
}

.inventory>.control-group>.controls>input {
    width: 90%;
}

input#textfield_tag {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.titleBox>.btn-toolbar {
    position: absolute;
    top: -6px;
    right: 4px;
}

.imgswrap {
    overflow: hidden;
}

.box {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.boxInner img {
    width: 100%;
}

.boxInner .titleBox {
    display: none;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
}

body.no-touch .boxInner:hover .titleBox,
body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
    .box {
        width: 100%;
        padding-bottom: 100%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 651px) {
    .box {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}

@media only screen and (max-width: 1290px) and (min-width: 1051px) {
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

.tooltip {
    position: fixed;
}

#files div {
    float: left;
    background-color: #EAEAEA;
    margin-left: 1em;
    margin-top: 1em;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

ul.tree,
ul.tree ul {
    list-style-type: none;
    background: url('../img/vline.png') repeat-y;
    margin: 10px;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url('../img/node.png') no-repeat;
    color: #369;
}

.delCat:hover {
    text-decoration: underline !important;
}

ul.tree li.last {
    background: #fff url('../img/lastnode.png') no-repeat;
}

ul.tree li {
    /*font-size: 18px;*/
    /*margin-top: 10px;*/
}

#ajaxfilemanager_tbl {
    width: 100% !important;
}

.detailOrder {
    width: 100%;
}

.detailOrder th {
    background-color: #DBEAF9;
    color: #404040;
    font-weight: bold;
    text-align: center;
}

.detailOrder td {
    background-color: #FAFAFA;
    border-bottom: 1px dotted #6699CC;
    color: #404040;
    font-family: Verdana, sans-serif, Arial;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 0 4px 8px;
    text-align: left;
}
